{% extends "base.html.twig" %}
{% block title %}Un nouveau bien?{% endblock %}
{% block body %}
    <div class="container mt-4">

        <h1>Créer le Bien </h1>
        <h5>ou le mal au choix....</h5>

        {{ include ("admin/adminproperty/_form.html.twig",{button:'Ajouter'}) }}   





    </div>





{% endblock %}